//section 2 3 4 组合样式
.w_p50{
    width: 50%;
}
.w_p50 img{
    display: block;
    width: 100%;
}
.b_left{
    border-left: 1px solid #ddd;
}
.b_right{
    border-right: 1px solid #ddd;
}
.b_bottom{
    border-bottom: 1px solid #ddd;
}